* {
  font-family: sans-serif;
  list-style: none;
}

body {
  padding: 20px;
}

h1 {
  font-weight: 800;
  margin-top: 0px;
}

h3 {
  font-size: 13pt;
  line-height: 15pt;
  letter-spacing: -0.5px;
  margin-top: -10px;
}

ol {
  line-height: 18pt;
}
